form.accounts {
  button, .btn, a {
    margin-right: 6px;
  }
  .social-buttons {
    .btn {
      margin-bottom: 0.75em;
    }
  }
  .form-group.required .form-control-label:after {
    content:" *";
    color:red;
  }
}
